<a href="https://colab.research.google.com/github/JeromeMberia/Electric_cars/blob/master/Python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1 Importing our Libraries

In [95]:
import pandas as pd
import numpy as np

In [96]:
df = None
file = None
file = 'Autolib_dataset.csv'
df = pd.read_csv(file, index_col=None)

In [97]:
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [99]:
df.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

# 2 Cleaning our Dataset

Let us perform data cleaning procedures below providing a documentation for our actions and reasons. We will perform as many data cleaning procedures as we think suitable for the various dimensions of data.

### 2.1 **|** Validity

In [100]:
# Procedure 1: Irrelevant Data Observation
# Data Cleaning Action: Dropping Location_1 attribute
# Explanation: We won't need it during Analysis. 
#
# OUR CODE GOES HERE
print(df.columns)
try:
  df = df.drop(['Displayed comment'], axis=1)
except:
  print('Done !')
print(df.columns)

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')
Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City', 'ID',
       'Kind', 'Geo point', 'Postal code', 'Public name', 'Rental status',
       'Scheduled at', 'Slots', 'Station type', 'Status',
       'Subscription status', 'year', 'month', 'day', 'hour', 'minute'],
      dtype='object')

In [101]:
# Procedure 2: Irrelevant Data Observation
# Data Cleaning Action: Drop Scheduled at attribute
# Explanation: We won't need it during Analysis.
# 
print(df.columns)
try:
  df = df.drop(['Scheduled at'], axis=1)
except:
  print('Done !')
print(df.columns)

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City', 'ID',
       'Kind', 'Geo point', 'Postal code', 'Public name', 'Rental status',
       'Scheduled at', 'Slots', 'Station type', 'Status',
       'Subscription status', 'year', 'month', 'day', 'hour', 'minute'],
      dtype='object')
Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City', 'ID',
       'Kind', 'Geo point', 'Postal code', 'Public name', 'Rental status',
       'Slots', 'Station type', 'Status', 'Subscription status', 'year',
       'month', 'day', 'hour', 'minute'],
      dtype='object')

In [102]:
# Procedure 3:Irrelevant Data Observation
# Data Cleaning Action:Drop cars attribute
# Explanation:The cars column is similar to Bluecars
#
print(df.columns)
try:
  df = df.drop(['cars'], axis=1)
except:
  print('Done !')
print(df.columns)

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City', 'ID',
       'Kind', 'Geo point', 'Postal code', 'Public name', 'Rental status',
       'Slots', 'Station type', 'Status', 'Subscription status', 'year',
       'month', 'day', 'hour', 'minute'],
      dtype='object')
Done !
Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City', 'ID',
       'Kind', 'Geo point', 'Postal code', 'Public name', 'Rental status',
       'Slots', 'Station type', 'Status', 'Subscription status', 'year',
       'month', 'day', 'hour', 'minute'],
      dtype='object')

### 2.2 **|** Accuracy

In [103]:
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City', 'ID',
       'Kind', 'Geo point', 'Postal code', 'Public name', 'Rental status',
       'Slots', 'Station type', 'Status', 'Subscription status', 'year',
       'month', 'day', 'hour', 'minute'],
      dtype='object')

In [104]:
# Procedure 2:In-record & cross-datasets errors
# Data Cleaning Action:Ensure the values are negative one between eight
# Explanation:For accuracy
#
df.head()
try:
  df['Bluecar counter'] = df['Bluecar counter'][(df['Bluecar counter']>=0) & (df['Bluecar counter']<=7)]
except:
  print('Done!')
df.shape

(5000, 23)

In [105]:
# Procedure 3:In-record & cross-datasets errors
# Data Cleaning Action:Ensure the values are negative one between five
# Explanation:For accuracy
print(df.shape)
try:
  df['Utilib counter'] = df['Utilib counter'][(df['Utilib counter']>=0) & (df['Utilib counter']<=4)]
except:
  print('Done!')
print(df.shape)

(5000, 23)
(5000, 23)

In [106]:
# Procedure 4:In-record & cross-datasets errors
# Data Cleaning Action:Ensure the values are negative one between six
# Explanation:For accuracy
print(df.shape)
try:
  df['Utilib 1.4 counter'] = df['Utilib 1.4 counter'][(df['Utilib 1.4 counter']>=0) & (df['Utilib 1.4 counter']<=5)]
except:
  print('Done!')
print(df.shape)

(5000, 23)
(5000, 23)

In [107]:
# Procedure 5:In-record & cross-datasets errors
# Data Cleaning Action:Ensure the values are negative one between four
# Explanation:For accuracy
print(df.shape)
try:
  df['Charge Slots'] = df['Charge Slots'][(df['Charge Slots']>=0) & (df['Charge Slots']<=3)]
except:
  print('Done!')
print(df.shape)

(5000, 23)
(5000, 23)

In [108]:
# Procedure 6:In-record & cross-datasets errors
# Data Cleaning Action:Ensure the values are negative one between eight
# Explanation:For accuracy
print(df.shape)
try:
  df['Slots'] = df['Slots'][(df['Slots']>=0) & (df['Slots']<=7)]
except:
  print('Done!')
print(df.shape)

(5000, 23)
(5000, 23)

### 2.3 **|** Completeness

In [109]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#

df.isnull().sum()

Address                0
Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Geo point              0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

### 2.4 **|** Consitency

In [110]:
# Procedure 1: Duplicates
# Data Cleaning Action: No action taken
# Explanation: There were no duplicate instances
#
df.duplicated().sum()

0

### 2.5 **|** Uniformity

In [111]:
# Procedure 1: 
# Data Cleaning Action:
# Explanation:
#
# OUR CODE GOES HERE

# 3. Anlysis

## 3.1 **|** Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [115]:
df[['hour', 'Bluecar counter']][(df['City'] =='Paris')& (df['month']== 4) & (df['year']== 2018)].groupby(['hour']).sum().sort_values(by='Bluecar counter', ascending=False).tail(1)

      Bluecar counter
hour
20                149

### - **20th** hour is the most popular hour because it has the least number blue cars